
@{
    ViewData["Title"] = "About";
}

<p style='margin:0in;line-height:85%;font-size:48px;font-family:"Calibri Light",sans-serif;color:#44546A;text-align:center;'><span style="font-size:37px;line-height:85%;color:windowtext;">Activitățile unui hipermarket</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;text-align:center;'><span style="font-size:24px;line-height:107%;">- Duican Cosmin Alexandru-</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'><span style="font-size:24px;line-height:107%;">&nbsp;</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'><strong>&nbsp;</strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <ol style="margin-bottom:0in;list-style-type: undefined;margin-left:-0.25in;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
            <h1 style='margin-top:20.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:27px;font-family:"Arial",sans-serif;font-weight:normal;'>Scop</h1>
        </li>
    </ol>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Aplicația are ca scop gestionare unor activitați ale unui hipermarket, cum ar fi situația angajaților, volumul stocuri, furnizori, comenzile pentru produse.</p>
<ol style="margin-left: -0.25in;">
    <li>
        <h1 style='margin-top:20.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:27px;font-family:"Arial",sans-serif;font-weight:normal;'>&nbsp;Funcții</h1>
    </li>
</ol>
<h2 style="margin-top: 2pt; margin-right: 0in; margin-bottom: 0in; font-size: 21px; font-family: Arial, sans-serif; font-weight: normal;">Funcții pentru angajati:</h2>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;text-indent:.5in;'>Să se poata &icirc;nregistra un angajat.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;text-indent:.5in;'>Fiecare angajat sa aiba cont și un rol.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;text-indent:.5in;'>Un rol va avea un ID si un nume.</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:21px;font-family:"Arial",sans-serif;font-weight:normal;'>Funcții pentru furnizori</h2>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;text-indent:.5in;'>Să se poata &icirc;nregistra/edita/elimina un furnizor.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Fiecare trebuie sa aiba un ID, un nume, o adresa și o persoana de contact.</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:21px;font-family:"Arial",sans-serif;font-weight:normal;'>Funcții pentru produse</h2>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Să se poata &icirc;nregistra/edita/elimina un produs.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Acelasi produs poate avea unul sau mai multi furnizori, cu prețuri de achizitie care pot fi diferite.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Fiecare produs este identificat printr-un cod unic de tip string, are o categorie (ex. produs alimentar, detergent, jucarii.), categorii care deasemena trebuie sa poate fi introduse/editate sau eliminate.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Un produs va avea și un preț de v&acirc;nzare, și un stoc minim de siguranță.</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:21px;font-family:"Arial",sans-serif;font-weight:normal;'>Funcții pentru comenzile de produs</h2>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poata emite comenzi catre funizor de unu sau mai multe produse.&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poata edita cantitatea de produs, și data de livrare. Să se poata șterge o comanda sau un produs din comanda.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:21px;font-family:"Arial",sans-serif;font-weight:normal;'>Funcții pentru stocuri.</h2>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poata &icirc;nregistra/edita/elimina o zonă ( ex. depozit, zone carne, zona peste etc.)</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poata &icirc;nregistra/edita/elimina o locatie care face parte dintr-o zonă.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Se vor stoca pe locatii cantitatile de produs existente.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>O locație poate avea un stoc minim de produse.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h2 style='margin-top:2.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:21px;font-family:"Arial",sans-serif;font-weight:normal;'>Rapoarte</h2>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poată descarca un raport cu lista de comenzi care vor veni in urmatoarea săptam&acirc;nă calendaristică.</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poată descarca un raport cu cantitățile necesare de produs pentru a atinge pragul unei locații</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.5in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Să se poată descarca un raport cu cantitațile necesare pentru a atinge stocul minim de siguranță.</p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>
    <h1 style='margin-top:20.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:27px;font-family:"Arial",sans-serif;font-weight:normal;'>&nbsp;Tabele</h1>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel Roluri:&nbsp;</p>
<ul style="list-style-type: disc; margin-left: 0.25in;">
    <li>ID (integer, not null , PK)</li>
    <li>Rol (varchar, not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel utilizator/angajati:</p>
<ul style="list-style-type: disc; margin-left: 0.25in;">
    <li>ID (string, not null, PK)</li>
    <li>Password</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel furnizor:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID ( integer, not null, PK)</li>
    <li>CompanyName ( varchar, not null )</li>
    <li>CompanyAdress (varchar, not null )</li>
    <li>ContactPerson (varchar, not null )</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:1.0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:1.0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Table Categori:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID (integer, not null, PK)</li>
    <li>CategoryName (varchar,not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel Produs:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>Cod produs (integer, not null, PK)</li>
    <li>ProductName (varchar, not null)</li>
    <li>Price (decimal (18,2), not null)</li>
    <li>CategoryID ( integer, not null FK)</li>
    <li>SafetyStock (integer, not null, default 0)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel ProdusFurnizor:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ProductID (integer, not null, PK-composite key 1)</li>
    <li>SupplierID (integer, not null, PK,- composite key 2)</li>
    <li>Price (decimal (18,2),not null)</li>
    <li>LeadTime (integer, not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel ComenziCatreFurnizor:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID ( integer, not null, PK)</li>
    <li>SupplierID (integer, not null, FK)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel ComenziCatreFurnizorProduse:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID (integer,not null,PK)</li>
    <li>OrderID (integer, not null, FK)</li>
    <li>ProductID (integer, not null, FK)</li>
    <li>OrderedQuantity ( integer, not null)</li>
    <li>DeliveryDate ( datetime, not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Table Zone:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID (integer, not null, PK)</li>
    <li>ZoneName ( varchar, not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel Locatii:</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>ID (integer, not null, PK)</li>
    <li>ZoneID(integer, not null, FK)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>Tabel LocatiiProdus</p>
<ul style="list-style-type: disc;margin-left:0.5in;">
    <li>LocationID (integer, not null, PK-composite key 1)</li>
    <li>ProductID (integer, not null, PK,- composite key 2)</li>
    <li>Quantity ( integer, not null)</li>
    <li>MinQuantity ( integer, not null)</li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:1.0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:1.0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.75in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.75in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:.25in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:19px;font-family:"Arial",sans-serif;'>&nbsp;</p>

