
@{
    ViewData["Title"] = "Admin panel";
}

<h1>Index</h1>

  <ul>
        <li >
            <a asp-action="CreateRole" asp-controller="Account" >Create Role</a>
        </li>
        <li >
            
            <a asp-action="ListRoles" asp-controller="Account" >List roles</a>
        </li>

               <li >
            
            <a asp-action="ListUsers" asp-controller="Account" >List users</a>
        </li>
    </ul>


